<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #525E75; width: 100%;">
  <div class="container-fluid">
  <a>
    <img class="navbar-brand" src="../../../assets/APLogo-20-20.png">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color:whitesmoke">#YoProgramo</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#EXP" style="color:whitesmoke">Experiencia</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#EDU" style="color:whitesmoke">Educacion</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#SKILL" style="color:whitesmoke">Hard & Soft skills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#PROY" style="color:whitesmoke">Proyectos</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:whitesmoke">
                  Dropdown
              </a>
              <ul class="dropdown-menu" id="caca">
                  <li><a class="dropdown-item" href="#">Acerca de</a></li>
                  <li><a class="dropdown-item" href="#EDU">Educacion</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#CONTACT">Contacto</a></li>
              </ul>
          </li>
        </ul>
        <button class="btn btn-success" type="button" routerLink="/login" data-bs-toggle="modal"> <!--data-bs-target="#login"-->INGRESAR</button>
  </div>
  </div>
  
</nav>
<!-- Modal 
<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #ffff;"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div class="form-signin">
          <img src="" alt="">
          <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>
          <form>
            <div class="container">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email</label>
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Contraseña</label>

            </div>
              <button type="button" class="btn btn-outline-primary" style="margin-bottom: 20px;">Ingresar</button><br>
              <a href="#">Olvide mi contraseña</a><br>
              <a href="#">Crear cuenta</a>
          </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
-->