.navbar-brand {
    width: 200px;
    height: 123px;
}

.Boton {
    width: 350px;
    height: 350px;
}

.banner{
    background-image: linear-gradient(#212529,#000,#002,#003);
    text-decoration-color:rgb(255, 255, 255);
    font-family: 'Bitter', serif;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 5px 5px grey; 
    text-align: center;
    height: 600px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p{ 
    font-size: 15px;
    color: white; 
    font-weight: bold;
    margin: -10px;
    text-align: center;
}
.banner h1{
    color: white;
    font-family: 'Bitter', serif;
}

.nav-item{
    color:white;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    cursor: pointer;
}

.cards:hover {
    opacity: 4;
}

.card-category:hover {
    backdrop-filter: blur(20px);
    background-color: grey;
}
.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
}
.footer-links {
    display: flex;
    align-items: center;
}
.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}
.footer-links a:hover {
    opacity: 1;
}
.footer .fa-heart {
    color: #D23333;
}

.tabs-underlined {
    display: flex;
    align-items: center;
  }
  
.tabs-underlined .tab-underlined {
    color: black;
    padding: 8px;
    margin: 8px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
  
.tabs-underlined .tab-underlined.active {
    opacity: .4;
}
  
.tabs-underlined .tab-underlined:hover {
    opacity: 4;
    border-bottom: 3px solid #555555;
}

.title h2 {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: black;
    font-family: 'Bitter';
}

#Lista {
    padding-bottom: 40px;
}

.card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}
  
.card-product img {
    height: 100%;
    width: 120px;
    object-fit: contain;
}

.card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
  
.card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}
  
.card-product .card-product-infos {
    padding: 16px;
}

#educacion {
    justify-content: space-around;
}

.container  {
    padding-bottom: 50px;
}

#skills {
    width: 250px;
    height: 260px;
}