
h1{
  font-family: Bitter, serif;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding: 100px 110px 5px;
}

#banner{
  text-decoration-color:black;
  font-family: Bitter, serif;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/421/675/806/m-c-escher-optical-illusion-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px grey; 
  text-align: center;
  height: 1000px;
  margin-bottom: 30px;
  }

#banner p{
  font-size: 15px;
  color: black;
  font-weight: bold;
  margin: -10px
}

h3{
  font-family: Bitter, serif;
  color: black;
  font-size: 25px;
  font-weight: lighter;
}

h4 {font-family: Bitter, serif;
  color: black;
  font-size:  25px;
  font-weight: lighter;
}

h2 {
  font-family: Bitter, serif;
  color: black;
  font-weight: lighter;
  font-size: 25px;
}

.navbar-brand {
  width: 150px;
  height: 100px;
}

#titulo {
  margin-top: 250px;
}