<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #525E75;">
    <div class="container-fluid">
    <img class="navbar-brand" src="http://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1657411642/APLogo-20-20.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">cerrar</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:whitesmoke">#YoProgramo</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Expeeriencia" style="color:whitesmoke">Experiencia</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Educacion" style="color:whitesmoke">Educacion</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Skills" style="color:whitesmoke">Hard & Soft skills</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Proyectos" style="color:whitesmoke">Proyectos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:whitesmoke">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#Acercade">Acerca de</a></li>
                    <li><a class="dropdown-item" href="#">Educacion</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="../login/login.component.html">Contacto</a></li>
                </ul>
            </li>
        </ul>
        <a class="btn btn-outline-success" role="button" href="#">INGRESAR</a>
    </div>
    </div>
</nav>