<div class="mu-skill-cards-content">
    <div class="mu-proyectos-list">
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>
            <div class="mu-proyectos-item-data">
                <h3><strong>HTML5</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Aplicaciones de HTML</li> 
                                <li>Estructura documento HTML</li> 
                                <li>Encabezados</li> 
                                <li>Formato</li> 
                                <li>Meta Tags</li> 
                                <li>Listas, imágenes y enlaces HTML</li> 
                                <li>Iframe</li> 
                                <li>Fuentes</li>
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>
            <div class="mu-proyectos-item-data">
                <h3><strong>CSS</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Reglas CSS</li> 
                                <li>Ejemplo Selectores</li> 
                                <li>Modelo de Cajas</li> 
                                <li>Unidades de medida</li> 
                                <li>Colores</li> 
                                <li>Fuentes</li> 
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>
            <div class="mu-proyectos-item-data">
                <h3><strong>JavaScript</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Sintaxis de JavaScript</li> 
                                <li>Tipos de datos en JavaScript</li> 
                                <li>Variables y Ámbitos en JavaScript</li> 
                                <li>Operadores en JavaScript</li> 
                                <li>Funciones y estructuras en JavaScript </li> 
                                <li>Búsquedas en JavaScript</li> 
                                <li>DOM</li> 
                                <li>Archivos JSON</li> 
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>
            <div class="mu-proyectos-item-data">
                <h3><strong>Spring boot</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Sintaxis de JavaScript</li> 
                                <li>Tipos de datos en JavaScript</li> 
                                <li>Variables y Ámbitos en JavaScript</li> 
                                <li>Operadores en JavaScript</li> 
                                <li>Funciones y estructuras en JavaScript </li> 
                                <li>Búsquedas en JavaScript</li> 
                                <li>DOM</li> 
                                <li>Archivos JSON</li> 
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>            
            <div class="mu-proyectos-item-data">
                <h3><strong>Angular</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Estructura de un proyecto Angular</li> 
                                <li>Arquitectura Angular</li> 
                                <li>Módulos en Angular</li> 
                                <li>Componentes en Angular</li> 
                                <li>Templates, Plantillas o Vistas en Angular</li> 
                                <li>Expresiones y Pipes en Angular</li> 
                                <li>Directivas en Angular</li> 
                                <li>Databinding en Angular</li> 
                                <li>Servicios en Angular</li>
                                <li>Sistema de Routing en Angular</li>
                                <li>Formularios en Angular</li> 
                                <li>Testing en Angular</li>
                                <li>Aplicación con Angular CLI</li>
                                <li>Servicios en Angular</li>
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <div class="container">
                <app-tubo></app-tubo>
            </div>            
            <div class="mu-proyectos-item-data">
                <h3><strong>MySQL</strong></h3>
                <h4 class="descripcion">
                    <p>
                        <small>
                            <ul>
                                <li>Organización de una base de datos</li> 
                                <li>Base de Datos Relacional</li> 
                                <li>Diseño de Base de Datos</li>
                                <li>Normalización de Datos</li> 
                                <li>Conjuntos en Bases de Datos</li> 
                                <li>Transacciones en Base de Datos</li> 
                                <li>Bloqueo o Locking en Bases de Datos</li>
                            </ul>
                        </small>
                    </p>
                </h4>
            </div>
        </div>
</div>
