.banner {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(184,169,218,0.5033222591362126) 35%, rgb(94, 214, 238) 100%), url(https://live.staticflickr.com/8537/8691470481_560c2ed698_b.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 550px;
}
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
}
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    backdrop-filter: blur(30px);
}
.container {
    display: block;
    margin-top: 100px;
}

.btn{
  border-radius: 12px;
  letter-spacing: .03rem;
  color: #fff;
  font-weight: 700;
  background-color: #ff5b81;
  border-color: #ff5b81;
}

.btn:hover {
  background-color: hsl(346, 86%, 57%);
  border-color: hsl(346, 86%, 57%);
  border-radius: 12px;
  letter-spacing: .03rem;
  color: #fff;
  font-weight: 700;
}