<div class="container">
	<div class="cards">
		<div class="card-category" style="background: #5ed6ee 30%;">
			<h3>Experiencia 1</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
		</div>

		<div class="card-category" style="background: #b8a9da 30%;">
			<h3>Experirencia 2</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
		</div>

		<div class="card-category" style="background: #020024 100%">
			<h3>Experiencia 3</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
		</div>

		<div class="card-category" style="background: #5ed6ee 30%;">
			<h3>Experiencia 4</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
		</div>

		<div class="card-category" style="background: #b8a9da 30%;">
			<h3>Experiencia 5</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
		</div>

		<div class="card-category" style="background: #020024 100%">
			<h3>Experiencia 6</h3>
			<p>Periodo</p>
			<p>Descripcion</p>
	  	</div>
  	</div>
</div>		