.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    cursor: pointer;
}

.cards:hover {
    opacity: 3;
    backdrop-filter: blur(20px);
    background-position: center;
}

.card-category:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    border: 2px solid rgba(184,169,218,0.5033222591362126);
}
.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h3 p {
    display: inline-block;
}