<div class="mu-skill-cards-content">
    <div class="mu-proyectos-list">
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>
            <div class="mu-proyectos-item-data">
                <h3><strong>HTML5</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quod numquam voluptas veniam laboriosam quas dignissimos dolor vero, hic, corrupti, minus obcaecati sed nam nulla temporibus nisi saepe ex quam?</small></p></h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>
            <div class="mu-proyectos-item-data">
                <h3><strong>CSS</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae consequatur, provident maxime corrupti fugit soluta tempore commodi facilis quam, excepturi iste nobis dignissimos nostrum illo laborum vitae tenetur, numquam placeat.</small></p></h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>
            <div class="mu-proyectos-item-data">
                <h3><strong>JavaScript</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quae facere assumenda quas quaerat labore ab, rem, officia provident consequatur aut! Est dolore rem labore culpa, quisquam autem officia saepe?</small></p></h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>
            <div class="mu-proyectos-item-data">
                <h3><strong>GITHUB</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias repellat optio, consequuntur quaerat asperiores reiciendis laborum porro dolorum delectus minus voluptates ab officiis velit iure non officia sapiente? Vitae.</small></p></h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>            
            <div class="mu-proyectos-item-data">
                <h3><strong>Angular</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptatum dolorem aperiam excepturi doloremque ipsum eos, est eligendi soluta mollitia architecto velit facere rerum quidem animi quisquam obcaecati possimus? Alias.</small></p></h4>
            </div>
        </div>
        <div class="mu-proyectos-item">
            <app-tubo></app-tubo>            
            <div class="mu-proyectos-item-data">
                <h3><strong>MySQL</strong></h3>
                <h4 class="descripcion"><p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptatum dolorem aperiam excepturi doloremque ipsum eos, est eligendi soluta mollitia architecto velit facere rerum quidem animi quisquam obcaecati possimus? Alias.</small></p></h4>
            </div>
        </div>
</div>
