.mu-skill-cards-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.mu-skill-cards-content .mu-proyectos-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.mu-skill-cards-content .mu-proyectos-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 348px;
    padding: 12px;
}

/*.mu-skill-cards-content .mu-proyectos-list .mu-proyectos-item img {
    width: 250px;
    vertical-align: middle;
    border: 0;
    border-radius: 50%;
}*/

.mu-skill-cards-content .mu-proyectos-list .mu-proyectos-item h3 {
    letter-spacing: .03rem;
    font-size: 1.5em;
    margin-top: 21px;
    margin-bottom: 10.5px;
}
.descripcion {
    letter-spacing: .03rem;
    margin-top: 0;
    font-weight: 400;
    color: #aaa;
}