<div class="footer">
    <div class="footer-links" id="CONTACT">
        <a href="https://github.com/Ivanway10" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://ar.linkedin.com/in/ivan-capano-ba5a09228?trk=people-guest_people_search-card" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/ivanway10/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><i class="fab fa-google"></i></a>
    </div>
    <div class="footer-copyright">
          This page was made with <i class="fas fa-heart"></i> 
    </div>
</div>