<!--paso1 identificarr las partes que cambian (src, h2, p,)
pas2  crear objetos de angularr(clase)
paso3 obj.link_img ("") , obj.descripcion ("lic, ") a cada obj le va un id
armarr lista que contenga cada objeto
paso4 ng for (angular) tag html renderiza n veces un html parametrizable, 
paso merge-->



<div class="container">
    <div class="cards" *ngFor="let Educard of Edu">
        <div class="card-trip">      
            <img [src]="Educard.eduimg">
            <div class="card-trip-infos">
                <h2>{{Educard.name}}</h2>
                <p><strong>{{Educard.institucion}}</strong>.</p>
            </div>
        </div>
    </div>
</div>
